
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Map Test</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div #map id="map">
    
  </div>
</ion-content>
