<ion-header>
  <ion-navbar>
    <ion-title>
      Tabs
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <button ion-button (click)="onNavToHome()">Go home</button> -->
</ion-content>


