
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>map</ion-title>
    <!-- <ion-buttons end>
        <button ion-button (click)="addMarker()"><ion-icon name="add"></ion- 
  icon>Add Marker</button>
      </ion-buttons>  -->
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <button ion-button (click)="onButtonClick()">Demo</button> -->
  <div #map id="map_canvas">
    
  </div>
</ion-content>
