<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Vị trí đã chọn</h1>
  <!-- <ion-grid>
    <ion-row>
      <ion-col col-2>
        <div>
          STT
        </div>
      </ion-col>
      <ion-col col-5>
        <div>
          Longitude
        </div>
      </ion-col>
      <ion-col col-5>
        <div>
          Latitude
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let inf of infor; index as i">
        <ion-col col-2>
          <div>
            {{i+1}}
          </div>
        </ion-col>
        <ion-col col-5>
          <div>
            {{inf.longitude}}
          </div>
        </ion-col>
        <ion-col col-5>
          <div>
            {{inf.latitude}}
          </div>
        </ion-col>
      </ion-row>
  </ion-grid> -->

  <ion-grid style="margin: 1px;">
    <ion-row style="background-color: #6CA6CD">
      <ion-col col-1>
        <div>
          
        </div>
      </ion-col>
      <ion-col col-3>
        <div>
          Longitude
        </div>
      </ion-col>
      <ion-col col-3>
        <div>
          Latitude
        </div>
      </ion-col>
      <ion-col col-5>
        <div>
          Address
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let inf of userProvider.infor; index as i" style="background-color: #87CEEB">
        <ion-col col-1>
          <div>
            {{i+1}}
          </div>
        </ion-col>
        <ion-col col-3>
          <div>
            {{inf.longitude}}
          </div>
        </ion-col>
        <ion-col col-3>
          <div>
            {{inf.latitude}}
          </div>
        </ion-col>
        <ion-col col-5>
          <div>
            {{inf.address}}
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>