<ion-menu [content]="content" type="overlay">

  <ion-header>
    <ion-toolbar>
      <ion-title>SideMenu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item *ngIf="userProvider.currentUsername!=''">
      <ion-avatar item-start (click)="toSetAvatar()">
        <img src="{{userProvider.image}}">
      </ion-avatar>
      <h2>{{userProvider.currentUsername}}</h2>
    </ion-item>
    <ion-list *ngFor="let p of pages">
      <button ion-item *ngIf="p.title!='History'&&p.title != 'Admin'" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button ion-item *ngIf="p.title == 'History'&&userProvider.check>0" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button ion-item *ngIf="p.title == 'Admin'&&userProvider.adminName==userProvider.currentUsername"
        (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-item>
      <ion-label>Language</ion-label>
      <ion-select [(ngModel)]="ct" (ionChange)="changeCountry()">
        <ion-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>