<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entertainment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar [(ngModel)]="myInput" (ionInput)="onInput()">
      </ion-searchbar>
      
  <ion-list>
    <ion-item *ngFor="let res of userProvider.result; index as i" (click)="detail(i)">
      <!-- <ion-avatar slot="start">
       <img src={{res.urlToImage}}>
     </ion-avatar> -->
      <ion-avatar item-start>
        <img src="{{res.urlToImage}}">
      </ion-avatar>
      <h2 style="white-space: pre-line;">{{res.title}}</h2>
      <h5>{{res.publishedAt | date: 'mediumDate'}}</h5>
    </ion-item>
  </ion-list>
</ion-content>