
<ion-header>
  <ion-navbar>
    <ion-title>{{data.author}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img src="{{data.urlToImage}}" alt="">
  </ion-avatar>
  
    <h6>{{data.publishedAt | date: 'mediumDate'}}</h6>
    <h3>{{data.title}}</h3>
    <p>{{data.content}}</p>
    <p>{{data.description}}</p>
</ion-content>
