
<!-- <div *ngIf="userProvider.currentTab=1"> -->
<ion-tabs selectedIndex="{{userProvider.currentTab}}">
  <ion-tab [root]="tabBusinessRoot" tabIcon="logo-usd"></ion-tab>
  <ion-tab [root]="tabEntertainmentRoot" tabIcon="musical-notes"></ion-tab>
  <ion-tab [root]="tabGeneralRoot" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tabHealthRoot"  tabIcon="compass"></ion-tab>
  <ion-tab [root]="tabScienceRoot" tabIcon="copy"></ion-tab>
  <ion-tab [root]="tabSportsRoot" tabIcon="logo-css3"></ion-tab>
</ion-tabs>
<!-- </div> -->
<!-- <ion-tabs  selectedIndex="1">
    <ion-tab [root]="tabBusinessRoot" tabIcon="logo-usd"></ion-tab>
    <ion-tab [root]="tabEntertainmentRoot" tabIcon="musical-notes"></ion-tab>
    <ion-tab [root]="tabGeneralRoot" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="tabHealthRoot"  tabIcon="compass"></ion-tab>
    <ion-tab [root]="tabScienceRoot" tabIcon="copy"></ion-tab>
    <ion-tab [root]="tabSportsRoot" tabIcon="logo-css3"></ion-tab>
  </ion-tabs> -->