<ion-header>
  <ion-navbar>
    <ion-title>Set Avatar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-avatar>
      <img src="{{ myphoto }}">
    </ion-avatar>
    <ion-title style="color: brown;" *ngIf="displayMess==true">Đổi ảnh đại diện thành công!!!</ion-title>
    <ion-item *ngIf="checkPhotoChange==false">
      <ion-row>
        <ion-col>
          <button ion-button type="submit" (click)="getImage()" block>Chọn từ thư viện</button>
        </ion-col>
        <ion-col>
          <button ion-button color="light" (click)="takePhoto()" block>Chụp ảnh mới</button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngIf="checkPhotoChange==true">
        <ion-row>
          <ion-col>
            <button ion-button type="submit" (click)="saveImage()" block>Save</button>
          </ion-col>
          <ion-col>
            <button ion-button color="light" (click)="cancelImage()" block>Cancel</button>
          </ion-col>
        </ion-row>
      </ion-item>
  </ion-card>
</ion-content>