<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides [pager]="true" style="height: 200px !important;">
    <ion-slide>
      Slide 1
    </ion-slide>
    <ion-slide>
      Slide 2
    </ion-slide>
    <ion-slide>
      Slide 3
    </ion-slide>
  </ion-slides>
<br>
<p>dvgdfbhsf</p>
  
</ion-content>