<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Admin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 style="color: blue;text-align: center;">DANH SÁCH TÀI KHOẢN</h3>
  <!-- <ion-list>
        <ion-item *ngFor="let acc of accountList">
          <p style="font-size: 18px;">
              Tên tài khoản: {{acc.username}} <br>
              Mật khẩu: {{acc.password}}
          </p>
        </ion-item>
      </ion-list> -->
      <ion-list *ngFor="let acc of accountList; index as i">
          <ion-item-sliding #item>
              <ion-item >
                  <p style="font-size: 18px;">
                      Tên tài khoản: {{acc.username}} <br>
                      Mật khẩu: {{acc.password}}
                  </p>
                </ion-item>
        
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="delete(i)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
</ion-content>