<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="userProvider.checklogin==false&&userProvider.closeform==false&&userProvider.checkLogin==false">
    <!-- <h3 style="color: blue;text-align: center;">ĐĂNG NHẬP</h3> -->
    <ion-title color:blue>ĐĂNG NHẬP </ion-title>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="username" name="username" type="text">
      </ion-input>

    </ion-item>
    <p style="font-size: 13px;color: red; float: right;" *ngIf="usernameErr==true">
      Tên đăng nhập có độ dài từ 8-20 kí tự
    </p>
    <p *ngIf="userExists==true" style="font-size: 13px;color: red; float: right;">
      Username already exists
    </p>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password">
      </ion-input>
    </ion-item>
    <p style="font-size: 13px;color: red;float: right;" *ngIf="passwordErr==true">
      Mật khẩu bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt
    </p>
    <p style="font-size: 18px;color: red" *ngIf="loginErr==true">Username or Password incorrect</p>
    <ion-item>
      <ion-row>
        <ion-col>
          <button ion-button (click)="onLogin()" type="submit" block>Login</button>
        </ion-col>
        <ion-col>
          <button ion-button (click)="openSignup()" color="light" block>Signup</button>
        </ion-col>
      </ion-row>
    </ion-item>

  </form>

  <form *ngIf="userProvider.checklogin==false&&userProvider.closeform==true">
    <!-- <h3 style="color: blue;text-align: center;">ĐĂNG KÝ</h3> -->
    <ion-title color:blue>ĐĂNG KÝ</ion-title>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="username" name="username" type="text">
      </ion-input>

    </ion-item>
    <p style="font-size: 13px;color: red; float: right;" *ngIf="usernameErr==true">
      Tên đăng nhập có độ dài từ 8-20 kí tự
    </p>
    <p *ngIf="userExists==true" style="font-size: 13px;color: red; float: right;">
      Username already exists
    </p>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password">
      </ion-input>
    </ion-item>
    <p style="font-size: 13px;color: red;float: right;" *ngIf="passwordErr==true">
      Mật khẩu bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt
    </p>
    <p style="font-size: 18px;color: red" *ngIf="loginErr==true">Username or Password incorrect</p>
    <ion-item>
      <ion-row>
        <ion-col>
          <button ion-button (click)="onSignup()" block>Signup</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button color="light" (click)="back()" block>Back</button>
        </ion-col>
      </ion-row>
    </ion-item>

  </form>


  <form *ngIf="userProvider.checklogin==true&&userProvider.closeform==false&&userProvider.checkLogin==true">
    <ion-card>
      <ion-avatar>
        <img src="{{userProvider.image}}">
      </ion-avatar>

      <ion-item>
        Tài khoản: {{userProvider.currentUsername}}
      </ion-item>
      <ion-row>
        <button ion-button (click)="onLogout()" block>Logout</button>
      </ion-row>
    </ion-card>
  </form>
  <form *ngIf="userProvider.checklogin==true&&userProvider.closeform==true">
    <ion-item>
      {{message}}
    </ion-item>
  </form>

</ion-content>